/*Body styles*/
body{
    text-align: center;
    /*makes the webpage's background an image*/
    background-image: url("https://www.publicdomainpictures.net/pictures/40000/velka/spatiul-cosmic.jpg");
    color: azure;
}

#context{
    border-style: solid;
    border-color: azure;
    background-color: rgb(0,0,0,0.5);
    
}